In [72]:
import requests
from  bs4 import BeautifulSoup as bs
import json
import pandas as pd

In [20]:
url = "https://understat.com/league/"

leagues = ["EPL", "La liga","Serie A", "Bundesliga", "Ligue 1"]

years = ["2019", "2020", "2021"]

In [27]:
final_url = url + leagues[0] + '/' +years[0]

In [30]:
print(final_url)

https://understat.com/league/EPL/2019

In [28]:
resp = requests.get(final_url)

In [29]:
resp

In [31]:
soup = bs(resp.content, "html.parser")

In [76]:
data = soup.find_all("script")[2]
type(data)

bs4.element.Tag

In [77]:
data = str(data)

In [78]:
data = data[38:-13]
enc_data = data.encode("utf8").decode("unicode_escape")

In [ ]:
enc_data

In [81]:
loaded_data = json.loads(enc_data)

In [ ]:
loaded_data

In [86]:
loaded_data.keys()

dict_keys(['71', '72', '73', '74', '75', '78', '79', '80', '81', '82', '83', '86', '87', '88', '89', '90', '92', '220', '229', '238'])

In [87]:
loaded_data["71"].keys()

dict_keys(['id', 'title', 'history'])

In [89]:
teams = []
for k in loaded_data.keys():
  print(loaded_data[k]["title"])
  teams.append(loaded_data[k]["title"])

Aston Villa
Everton
Bournemouth
Southampton
Leicester
Crystal Palace
Norwich
Chelsea
West Ham
Tottenham
Arsenal
Newcastle United
Liverpool
Manchester City
Manchester United
Watford
Burnley
Brighton
Wolverhampton Wanderers
Sheffield United

In [96]:
team_d = pd.DataFrame(loaded_data["71"]["history"])

In [104]:
pd.DataFrame(team_d.select_dtypes(exclude = "object").sum()).T

,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,wins,draws,loses,pts,npxGD
0,45.088989,71.595382,42.652501,66.884367,186.0,343.0,41.0,67.0,37.2269,9.0,8.0,21.0,35.0,-24.231866

In [114]:
final_df = pd.DataFrame()
for k in loaded_data.keys():
  team_data = pd.DataFrame(loaded_data[k]["history"])
  numerical_d = pd.DataFrame(team_data.select_dtypes(exclude = "object").sum().round(2)).T
  final_df = pd.concat([final_df, numerical_d], axis = 0)

final_df.index = teams
final_df.sort_values(by = "pts", ascending = False)

,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,wins,draws,loses,pts,npxGD
Liverpool,75.19,39.57,71.39,38.81,429.0,145.0,85.0,33.0,74.28,32.0,3.0,3.0,99.0,32.58
Manchester City,102.21,37.00,93.53,34.71,547.0,135.0,102.0,35.0,86.76,26.0,3.0,9.0,81.0,58.82
Manchester United,66.19,38.06,55.53,35.78,290.0,178.0,66.0,36.0,70.99,18.0,12.0,8.0,66.0,19.75
Chelsea,76.23,41.09,70.90,39.57,326.0,169.0,69.0,54.0,73.49,20.0,6.0,12.0,66.0,31.33
Leicester,61.02,47.89,55.67,40.28,293.0,203.0,67.0,41.0,61.16,18.0,8.0,12.0,62.0,15.39
Tottenham,49.02,54.13,45.83,48.80,224.0,264.0,61.0,47.0,49.26,16.0,11.0,11.0,59.0,-2.97
Wolverhampton Wanderers,54.22,37.39,51.18,34.96,172.0,193.0,51.0,40.0,63.82,15.0,14.0,9.0,59.0,16.22
Arsenal,50.82,57.25,48.54,51.01,265.0,253.0,56.0,48.0,50.15,14.0,14.0,10.0,56.0,-2.47
Burnley,49.35,53.84,47.06,50.02,145.0,263.0,43.0,50.0,49.54,15.0,9.0,14.0,54.0,-2.95
Sheffield United,45.81,52.04,45.05,49.76,198.0,231.0,39.0,39.0,49.34,14.0,12.0,12.0,54.0,-4.71
Southampton,56.50,56.59,52.54,53.55,230.0,249.0,51.0,60.0,56.87,15.0,7.0,16.0,52.0,-1.01
Everton,53.71,49.21,52.95,46.17,203.0,215.0,44.0,56.0,55.78,13.0,10.0,15.0,49.0,6.78
Newcastle United,36.49,67.03,35.73,65.51,132.0,344.0,38.0,58.0,31.92,11.0,11.0,16.0,44.0,-29.78
Crystal Palace,34.45,57.39,32.16,56.63,225.0,281.0,31.0,50.0,38.26,11.0,10.0,17.0,43.0,-24.47
Brighton,47.42,60.42,45.90,58.89,242.0,264.0,39.0,54.0,48.02,9.0,14.0,15.0,41.0,-12.99
West Ham,49.07,68.32,46.02,63.76,217.0,308.0,49.0,62.0,38.75,10.0,9.0,19.0,39.0,-17.73
Aston Villa,45.09,71.60,42.65,66.88,186.0,343.0,41.0,67.0,37.23,9.0,8.0,21.0,35.0,-24.23
Watford,48.56,59.53,42.47,52.52,227.0,259.0,36.0,64.0,47.87,8.0,10.0,20.0,34.0,-10.05
Bournemouth,44.67,63.29,41.63,58.73,210.0,326.0,40.0,65.0,39.20,9.0,7.0,22.0,34.0,-17.10
Norwich,37.23,71.61,35.71,66.13,207.0,345.0,26.0,75.0,33.12,5.0,6.0,27.0,21.0,-30.41